.image-slider-wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--background);
}

.image-slider-wrapper h1 {
	color: var(--text-primary)
}

.image-slider-container {
	width: 80%;
	height: 80%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-slider-current-image {
	border-radius: 0.5rem;
	box-shadow: 0px 0px 7px var(--neutral);
	width: 100%;
	height: 100%;
}

.image-slider-arrow {
	position: absolute;
	width: 2rem;
	height: 2rem;
	color: #fff;
	filter: drop-shadow(0px 0px 5px var(--neutral))
}

.image-slider-arrow-left {
	left: 1rem;
}

.image-slider-arrow-right {
	right: 1rem;
}

.image-slider-circle-indicators {
	display: flex;
	position: absolute;
	bottom: 1rem;
}

.image-slider-current-indicator {
	background-color: var(--background);
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: none;
	outline: none;
	margin: 0 0.2rem;
	cursor: pointer;
}

.image-slider-current-image-hidden {
	display: none;
}

.image-slider-inactive-indicator {
	background-color: var(--neutral);
}
