.scroll-indicator-wrapper{
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
	background-color: #075b0a;
	color: #fff;
}

.scroll-indicator-container{
	width: 100%;
	height: 10px;
	background: #aaf900;
}

.scroll-indicator-current{
	height: 10px;
	background: #8b02b5;
	width: 0%;
}
