@import '../../App.css';

.qr-code-wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	gap: 20px;
	transition: all .5s;
}

.qr-code-wrapper h1 {
	color: var(--text-primary);
}

.qr-code-input {
	padding: 10px 20px;
}

.qr-code-input input {
	padding: 10px 20px;
	margin: 10px 10px;
	border-radius: 10px;
	font-size: medium;
}

.qr-code-button {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: var(--button-bg);
	font-size: medium;
	font-weight: 600;
}

.qr-code-button-enabled {
	cursor: pointer;
	color: var(--button-text);
}

.qr-code-button-enabled:hover {
	transform: scale(1.02);
	transition: all .1s;
}

.qr-code-button-enabled:active {
	transform: scale(0.95);
	transition: all .1s;
}

.qr-code-button-disabled {
	cursor: not-allowed;
	color: var(--neutral);
}

.qr-code {
	border: 1px solid var(--button-bg);
	border-radius: 10px;
	padding: 40px 40px;
	background-color: #fff;
}
