.load-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.product-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.product {
	padding: 20px;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}

.product-image {
	width: 20vw;
	max-height: 400px;
}

.error {
	background-color: red;
}

.loading {
	background-color: yellow;
}
