@import '../../App.css';

.tree-view-container {
	min-height: 100vh;
	width: 350px;
	background: var(--background);
	transition: all .5s;
}

.menu-list-container {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu-item {
	display: flex;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	color: var(--text-primary)
}
