:root{
	--background: #ffffff;
	--text-primary: #000000;
	--button-bg: #000000;
	--button-text: #ffffff;
	--neutral: #999999
}

[data-theme="dark"] {
	--background: #000000;
	--text-primary: #ffffff;
	--button-bg: #ffffff;
	--button-text: #000000;
	--neutral: #444444
}

.error {
	background-color: red;
}

.loading {
	background-color: yellow;
}
