@import '../../App.css';

.accordion-wrapper {
	background-color: var(--background);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	transition: all .5s;
}

.accordion-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-direction: column;
}

.accordion-container button {
	padding: 10px 20px;
	background: var(--button-bg);
	color: var(--button-text);
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	border-radius: 15px;
}

.accordion-item {
	width: 500px;
	border-radius: 15px;
	background: var(--button-bg);
	margin-bottom: 10px;
	padding: 10px 20px;
}

.accordion-title {
	color: var(--button-text);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.accordion-content {
	color: var(--button-text);
	height: auto
}
